In [0]:
# lecture03/example1_data_frames.py
import pandas as pd

# Data to be represented in the DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [20, 21, 19, 22, 20],
    'Grade': [88, 92, 85, 90, 95]
}

# Create a DataFrame from the data
students_df = pd.DataFrame(data)

# Display the DataFrame
print(students_df)

      Name  Age  Grade
0    Alice   20     88
1      Bob   21     92
2  Charlie   19     85
3    David   22     90
4      Eva   20     95

In [0]:
import numpy as np
n = 5
x = np.arange(n)
print(x)

[0 1 2 3 4]

In [0]:
y = np.random.rand(n)
print(y)

[0.10041069 0.15155025 0.49086931 0.0922531  0.85828307]

In [0]:
import pandas as pd
import time
c = 10

df = pd.DataFrame({'y': y}, index=x)

start = time.time()
df["newy"] = df["y"] + c
end = time.time()
print(f"elapsed={end-start}")
print(df)
display(df)

elapsed=0.000993967056274414
          y       newy
0  0.100411  10.100411
1  0.151550  10.151550
2  0.490869  10.490869
3  0.092253  10.092253
4  0.858283  10.858283

y,newy
0.10041069179094386,10.100410691790945
0.15155024596239075,10.15155024596239
0.4908693148140545,10.490869314814054
0.0922530955459332,10.092253095545933
0.8582830663228349,10.858283066322835

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [0]:
import pyspark.pandas as ps
file_path = "/Volumes/workspace/default/files"
display(dbutils.fs.ls(file_path))

path,name,size,modificationTime
dbfs:/Volumes/workspace/default/files/gender_submission.csv,gender_submission.csv,3258,1770751699000
dbfs:/Volumes/workspace/default/files/part7_samples1.csv,part7_samples1.csv,38111,1770747228000
dbfs:/Volumes/workspace/default/files/part7_samples2.csv,part7_samples2.csv,9528,1770747228000
dbfs:/Volumes/workspace/default/files/test.csv,test.csv,28629,1770751699000
dbfs:/Volumes/workspace/default/files/train.csv,train.csv,61194,1770751699000

In [0]:
spark_df = spark.read.option("header", "true").csv(file_path)

# convert to a pandas-like dataframe
ps_df = pandas_like_df = ps.DataFrame(spark_df)
ps_df.describe()

       PassengerId Survived Pclass  Name   Sex   Age SibSp Parch Ticket  Fare Cabin Embarked
count         4227     1727   1309  1309  1223  1132  1309  1309   1308   982   622      889
unique        3809        4    421   893    81    89     9   370    850   324   150        3
top            892     None   None  None  None  None  None  None   None  None  None     None
freq             2     2500   2918  2918  3004  3095  2918  2918   2919  3245  3605     3338

In [0]:
ps_df.head(10)

  PassengerId Survived Pclass                                                 Name     Sex   Age SibSp Parch            Ticket     Fare Cabin Embarked
0           1        0      3                              Braund, Mr. Owen Harris    male    22     1     0         A/5 21171     7.25  None        S
1           2        1      1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female    38     1     0          PC 17599  71.2833   C85        C
2           3        1      3                               Heikkinen, Miss. Laina  female    26     0     0  STON/O2. 3101282    7.925  None        S
3           4        1      1         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female    35     1     0            113803     53.1  C123        S
4           5        0      3                             Allen, Mr. William Henry    male    35     0     0            373450     8.05  None        S
5           6        0      3                                     Moran, Mr. James    male  None     0     0            330877   8.4583  None        Q
6           7        0      1                              McCarthy, Mr. Timothy J    male    54     0     0             17463  51.8625   E46        S
7           8        0      3                       Palsson, Master. Gosta Leonard    male     2     3     1            349909   21.075  None        S
8           9        1      3    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female    27     0     2            347742  11.1333  None        S
9          10        1      2                  Nasser, Mrs. Nicholas (Adele Achem)  female    14     1     0            237736  30.0708  None        C

In [0]:
from pyspark.sql.functions import col, count, when

missing_age_count = spark_df.select(count(when(col("Age").isNull(), 1)).alias("missing_age_count"))
missing_age_count.show()

total_count = spark_df.count()
print(f"total_count: {total_count}")
display(total_count)
missing_count = spark_df.filter(col("Age").isNull()).count()
print(f"missing_count: {missing_count}")

+-----------------+
|missing_age_count|
+-----------------+
|             3095|
+-----------------+

total_count: 4227

4227

missing_count: 3095